@page
@model GameLibraryPt1.Areas.Admin.Pages.IndexModel
@{
}
Admin landing page


<div class="row">
    <div class="col-sm-4">
        <a asp-Area="Admin" asp-Page="/Roles/index">Roles</a>
    </div>
</div>