@page
@model GameLibraryPt1.Areas.Admin.Pages.Roles.IndexModel
@{
}


<div class="row">
    <div class="col-sm-6">
        <h1>Current Roles</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-right">
        <a asp-page="/Roles/Create">Create Role</a> | <a asp-page="/Roles/AddUseRole">Add User To Role</a>
        
    </div>
</div>

@if (Model.Roles != null && Model.Roles.Count() > 0)
{

<div class="row text-white">

    
    <table class="table w-100 text-white">
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>

        @foreach (var role in Model.Roles)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>

            </tr>
        }
    </table>
        


    


</div>



}
else
{
    <h3>No roles in database</h3>
}